* {
   margin: 0;

   padding: 0;

   box-sizing: border-box;

}

.centrado {
   text-align: center;
}

.encabezado {
   padding: 40px;
}

.titulo {
   margin-bottom: 20px;
}

.CENTRADOUP {
   text-align: center;
}
.centrado a { color: #008DD2;}

.CENTRADOUP a {
   text-decoration: none;
   font-weight: bold;
   color: #0c87c5;
}

.container {
   width: 950px;
   margin: 0 auto;
}

.caja {
   display: inline-block;
   font-weight: bold;
   width: 300px;
   border-radius: 10px;
   border: solid 1px #aaaaaa;
   overflow: hidden;
}

.encabezado_caja {
   padding: 20px;
   color: white;
   font-family: 'Roboto', sans-serif;
}

.cuerpo_caja {
   padding: 40px;
   color: black;
}

.azul {
   background-color: #008DD2;

}

.rojo {
   background-color: #EE433A;
}

.verde {
   background-color: #00C56A;

}
.separar{
   margin-bottom: 20px;
}

.caja1 {
   display: inline-block;
   font-weight: bold;
   width: 300px;
   border-radius: 10px;
   border: solid 1px #aaaaaa;
   overflow: hidden;

}


.amarrillo {
   background-color: #ffdb0f;

}

.morado {
   background-color: #b950ff;
}

.celeste {
   background-color: #00b8c5;

}