* {
   /*selecctor comodin (*) selecciona todosloselementos html*/

   /* outline: 1px solid crimson;*/
   /*Linea  externa de 2px*/
   margin: 0;
   /*Formatea espacios externos de elementos html*/
   padding: 0;
   /*formatea espacios internos de elementos html*/
   box-sizing: border-box;
   /*concidera bordes dentro de tamaño de elemento html*/

}

body {
   padding: 40px;
}

h1 {
   color: rebeccapurple;
}

.green {
   color: mediumseagreen;
}

#red {
   color: tomato;
}

.quote p {
   color: darkslategray;
   font-style: italic;
}

.quote h4 {
   color: darkturquoise;
   font-weight: bold;
   /*Negrita*/
}