/* Reseteo básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

/* --- BARRA DE NAVEGACIÓN --- */
.header {
    width: 100%;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a89aff;
    padding: 12px 30px;
}

.barra h1 {
    color: #ffffff;
    font-size: 22px;
}

.cajaBusqueda {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.inputBusqueda {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}

.botonLogin {
    background-color: #755eea;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* --- CONTENIDO PRINCIPAL --- */
.contenedorPrincipal {
   flex-wrap: wrap;
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Columna Izquierda */
.seccionPublicaciones {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Columna Derecha */
.seccionLateral {
    flex: 1;
}

/* Estilo simple para las tarjetas */
.tarjeta {
    background-color: #ffffff;
    box-shadow: #9c9b9b 0 2px 5px;
    border-radius: 8px;
    padding: 20px;
}

.tarjeta h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.metaInfo {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.textoPost {
    font-size: 14px;
    margin: 15px 0;
}

.botonMeGusta {
    background-color: #ff6b6b;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Tarjeta lateral de bienvenida */
.tarjetaBienvenida {
    text-align: center;
}

.textoBienvenida {
    font-size: 14px;
    margin: 10px 0 20px 0;
}

.botonPerfil {
    background-color: #00d2b5;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}