* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;

}

/*HEADER*/
.header {
   background-color:#34495E;
   color: white;
   text-align: center;
   padding: 30px  0px;
   margin-bottom: 20px;
   width:100%;}

.contenedor_principal {
   margin: 0 auto;
   padding: 55px ;
   width: 90%;
   box-shadow: 2px 1px 5px black;
   border-radius: 15px;
   margin-top: 30px;
   background-color: #ffffff;
 

}

.parrafo1{
   padding-top: 15px;
}

.texto_azul {
   background-color: #E67E22;
   color: white;
   padding: 50px;
   text-align: center;
   border-radius: 10px;
   margin-bottom: 15px;

}

.contenedor_tarjetas {
   display: flex;
   text-align: center;
   justify-content: space-between;
   gap:15px; /* Espacio entre elementos hijos*/
   flex-wrap: wrap ;

}

.box {
   
   height: 200px;
   background-color: #D35400;
   color: white;
   padding: 10px;
   border-radius: 15px;
   width: 32%;
}
.up{
   background-color: antiquewhite;
 
}
.parrafo3{
flex-direction: row;
margin: 10px;
font-size: 20px;
}

.titulo_caja{
   color: white;
   text-align: center;
   padding: 29px  0px;
   font-size: 27px;
   
}